.strength-section {
    display: flex;
  }
  
  .section {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
  }
  
  .gray {
    background-color: gray;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }

  .section-container{
    display: flex;
    flex-direction: column;
  }